@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* login css */
.login_body{
    
    font-family: "Raleway", sans-serif;
     background-image:url("./assets/konstantin-evdokimov-JALUvPLUde8-unsplash.jpg");
     background-repeat: no-repeat;
    background-size:cover; 
    background-position: center;
    overflow: hidden;
    
    /* background-color: #dfd5b0; */
   
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 93vh;
  
}
